<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>&{'web.admin.addFile'}</h3>
</div>

#{form @WebAdmin.addFile(), class:"form-horizontal"}
  <div class="modal-body">
    #{if page.children()}
      #{formItem label:'web.admin.parent'}
        <select name="path" style="width: 85%" required>
          <option></option>
          #{list page.childrenRecursively(), as:'child'}
            <option>${child.path}</option>
          #{/list}
        </select>
      #{/formItem}
    #{/if}
    #{else}
      <input type="hidden" name="path" value="${page.path}">
    #{/else}

    #{formItem label:'web.admin.name'}
      <input type="text" name="title" style="width: 85%" required>
    #{/formItem}

    #{formItem label:'web.admin.filename'}
      <input type="text" name="name" style="width: 85%" required>
    #{/formItem}
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary">&{'web.admin.add'}</button>
  </div>
#{/form}
