<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>&{'web.admin.addFile'}</h3>
</div>

#{form @WebAdmin.addFile(), class:"form-horizontal"}
  <input type="hidden" name="redirectTo" value="${redirectTo}">
  <div class="modal-body">
    #{if page.children()}
      #{webFormItem label:'web.admin.parent'}
        <select name="path" style="width: 85%" required>
          <option></option>
          #{list page.childrenRecursively(), as:'child'}
            <option>${child.path}</option>
          #{/list}
        </select>
        <a href="javascript:showAjaxDialog('@{WebAdmin.addPageDialog(page.path, redirectTo)}')">&{'web.admin.addPage'}</a>
      #{/webFormItem}
    #{/if}
    #{else}
      <input type="hidden" name="path" value="${page.path}">
    #{/else}

    #{webFormItem label:'web.admin.title'}
      <input type="text" name="title" style="width: 85%" required>
    #{/webFormItem}

    #{webFormItem label:'web.admin.filename'}
      <input type="text" name="name" style="width: 85%" required>
    #{/webFormItem}
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary">&{'web.admin.add'}</button>
  </div>
#{/form}

<script type="text/javascript">
  $(function() {
    $('[name=title]').keyup(function() {
      $('[name=name]').val(cleanPath($(this).val()));
    });
  });
</script>