#{extends 'Web/layout.html'/}

#{if problems}
  <h1>&{'web.admin.problems'}</h1>
  <ul>
    #{list problems}<li>${_}</li>#{/list}
  </ul>
  <br>
#{/if}

#{if warnings}
  <h1>&{'web.admin.warnings'}</h1>
  <div>&{'web.admin.warnings.help'}</div>
  <br>
  <ul>
    #{list warnings}<li>${_}</li>#{/list}
  </ul>
  <br>
#{/if}

#{if !problems && !warnings}
  <h1>No problems found</h1>
  <br>
#{/if}

#{if externals && !params.verifyExternal}
  <a class="btn btn-danger" href="@{WebAdmin.checkLinks(true)}" onclick="return confirm('&{'web.admin.checkExternalLinks.confirm'}')">&{'web.admin.checkExternalLinks'} (${externals.size()})</a>
#{/if}