<p class="highlighted">class="${tableClass}"</p>
<table class="${tableClass}">
  <thead>
  <tr>
    <th>Колонка 1</th>
    <th>Колонка 2</th>
    <th>Колонка 3</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Значение 1</td>
    <td>Значение 2</td>
    <td>Значение 3</td>
  </tr>
  <tr>
    <td>Значение 1</td>
    <td>Значение 2</td>
    <td>Значение 3</td>
  </tr>
  <tr>
    <td>Значение 1</td>
    <td>Значение 2</td>
    <td>Значение 3</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>Итого</th>
    <th>Итого</th>
    <th>Итого</th>
  </tr>
  </tfoot>
</table>
