#{extends 'Web/layout-with-menu.html'/}

<h3>&{'web.admin.diff'}: ${page.title} (&{'web.admin.revision'} ${revision})</h3>
<p class="muted">&{'web.admin.diff.help'}</p>

#{list diff.split('\n?diff --git '), as:'change'}
  #{if change}
  %{lines = change.readLines()}%
  %{path = lines[0].replaceFirst('.*? b/', '')}%
  <h4>
    ${path}
    #{ifnot lines[1].contains('new file')}
      <a style="font-size: 70%" href="@{WebAdmin.downloadRevision(path, revision)}" target="_blank">&{'web.admin.downloadRevision'}</a>
    #{/ifnot}
  </h4>
  <pre>${lines[1..-1].grep{!it.startsWith('index ') && !it.startsWith('---') && !it.startsWith('+++')}.join('\n')}</pre>
  #{/if}
#{/list}

