#{extends 'Web/layout-with-menu.html'/}

<h3>&{'web.admin.history'}</h3>
<h4>${page.title} - ${page.path}</h4>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>&{'web.admin.revision'}</th>
    <th>&{'web.admin.time'}</th>
    <th>&{'web.admin.author'}</th>
    <th>&{'web.admin.message'}</th>
    <th></th>
  </tr>
  </thead>
  #{list log, as:'line'}
    %{data = line.split('\t')}%
    <tr>
      <td>${data[0]}</td>
      <td nowrap>${new java.util.Date(Long.parseLong(data[1]) * 1000).format("dd MMM HH:mm")}</td>
      <td>${data[2]}</td>
      <td>${data[4]}</td>
      <td class="right">
        <a class="btn btn-small" href="@{WebAdmin.diff(page.path, data[0].trim())}">&{'web.admin.diff'}</a>
        <a class="btn btn-primary btn-small" href="@{WebAdmin.restore(page.path, data[0].trim())}" onclick="return confirm('&{'web.admin.reallyRestore'}')">&{'web.admin.restore'}</a>
      </td>
    </tr>
  #{/list}
</table>
