<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>&{'web.admin.editMetadata'}</h3>
</div>

#{form @WebAdmin.saveMetadata(), class:"form-horizontal", id:'metadata-editor-form'}
  <div class="modal-body">
    <input type="hidden" name="path" value="${page.path}">

    #{formItem label:'web.admin.title'}
      <input type="text" name="title" value="${page.metadata.title}" required style="width:85%">
    #{/formItem}

    #{if page instanceof models.WebPage.News}
      #{formItem label:'web.admin.tags'}
        <input type="text" name="tags" value="${page.metadata.tags}" style="width:85%">
      #{/formItem}
    #{/if}
    #{else}
      #{formItem label:'web.admin.template'}
        #{select 'template', items:templates, value:page.metadata.template/}
      #{/formItem}

      #{formItem label:'web.admin.description'}
        <input type="text" name="description" value="${page.metadata.description}" style="width:85%">
      #{/formItem}

      #{formItem label:'web.admin.keywords'}
        <input type="text" name="keywords" value="${page.metadata.keywords}" style="width:85%">
      #{/formItem}

      #{formItem label:'web.admin.order'}
        <input type="text" name="order" class="input-small" value="${page.metadata.order}">
      #{/formItem}

      #{formItem label:'web.admin.alias'}
        <input type="text" name="alias" class="input-small" value="${page.metadata.alias}">
      #{/formItem}
    #{/else}

    #{formItem label:'web.admin.hidden'}
      <input type="checkbox" name="hidden" ${page.metadata.hidden ? 'checked' : ''} value="true">
    #{/formItem}

    #{include 'WebAdmin/_metadataAdditionalFields.html'/}
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary">&{'web.admin.save'}</button>
  </div>
#{/form}
