<div id="page-editor-button" class="btn-group" style="float: left; margin-right: 5px">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">&{'web.admin.page'}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#" onclick="enablePageEditing()">&{'web.admin.editContent'}</a></li>
    <li><a href="#" onclick="showAjaxDialog('@{WebAdmin.metadataDialog(page.path)}')">&{'web.admin.editMetadata'}</a></li>
    #{if page.level > 1}<li><a href="#" onclick="copyPage()">&{'web.admin.copy'}</a></li>#{/if}
  </ul>
</div>
<a id="edit-cancel-button" class="btn hidden" href="" title="&{'web.admin.editMode'}">&{'web.admin.revert'}</a>


<style type="text/css">
  .editable[data-from]:hover, .editable:focus {
    outline: 1px dashed red;
    position: relative;
  }

  .editable[data-from]:hover:before, .editable:focus:before {
    content: attr(data-from) !important;
    color: white;
    background: red;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    top: -22px;
    right: 0;
    padding: 4px;
    z-index: 1000;
  }

  .cke_button__ajaxsave_icon, .cke_button__browse_icon2 { display: none; }
  .cke_button__ajaxsave_label, .cke_button__browse_label2 { display: block; }
</style>

<script type="text/javascript" src="/public/editor/ckeditor.js"></script>
<script type="text/javascript">
  function copyPage() {
    var name = prompt('&{'web.admin.copy.newName', page.parent().path}:');
    if (name)
      location.href = '@{WebAdmin.copyPage}?path=${page.path}&name=' + name.replace(/\W/, '') + '&authenticityToken=${session.authenticityToken}';
  }

  function enablePageEditing() {
    $('#page-editor-button, #edit-cancel-button').toggle();

    var saveCmd = {
      modes: { wysiwyg:1,source:1 },
      exec: function(editor) {
        $.ajax({
          url: '@{WebAdmin.saveContent()}?path=' + editor.filePath + '&part=' + editor.fileName + '&authenticityToken=${session.authenticityToken}',
          type: 'POST',
          contentType: 'text/html',
          data: editor.getData(),
          success: function(data) {
            $(editor.element.$).trigger('blur');
            alert(data);
          }
        });
      }
    };

    CKEDITOR.plugins.add('ajaxsave', {
      init: function(editor) {
        editor.addCommand('ajaxsave', saveCmd);
        editor.ui.addButton('ajaxsave', {
          label: '&{'web.admin.save'}',
          command: 'ajaxsave'
        });
      }
    });

    var browseCmd = {
      modes: { wysiwyg:1,source:1 },
      exec: function(editor) {
        console.log(editor);
        window.open(editor.config.filebrowserImageBrowseUrl, '_blank', 'width=' + editor.config.filebrowserWindowWidth + ',height=' + editor.config.filebrowserWindowHeight);
      }
    };

    CKEDITOR.plugins.add('browse', {
      init: function(editor) {
        editor.addCommand('browse', browseCmd);
        editor.ui.addButton('browse', {
          label: '&{'web.admin.browse'}',
          icon: 'copy',
          command: 'browse'
        });
      }
    });

    $('.editable').each(function() {
      var editable = $(this);
      var parentPath = editable.parents('[data-path]');
      editable.attr('data-from', $(this).attr('class').replace(' editable', '.html')).attr('contenteditable', true);

      var editor = CKEDITOR.inline(this, {
        language: '${lang}',
        ignoreEmptyParagraph: true,
        autoParagraph: false,
        fillEmptyBlocks: false,
        allowedContent: true,
        extraPlugins: 'browse,ajaxsave',
        filebrowserImageBrowseUrl : '@{WebAdmin.browse()}',
        filebrowserWindowWidth  : 800,
        filebrowserWindowHeight : 515
      });
      editor.filePath = parentPath.length ? parentPath.data('path') : '${page.path}';
      editor.fileName = editable.data('from');
    });
  }
</script>
