<button class="btn btn-primary" onclick="enablePageEditing(this)">&{'web.admin.editPage'}</button>

<style type="text/css">
  .editable[data-from]:hover, .editable.modified {
    outline: 1px dashed red;
    position: relative;
  }
  .editable[data-from]:hover:before, .editable.modified:before {
    content: attr(data-from);
    color: white;
    background: red;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    top: -22px;
    left: -1px;
    padding: 4px;
    z-index: 1000;
  }
  .editable-controls {
    z-index: 1000;
  }
  .editable-controls button {
    line-height: 14px;
    font-size: 14px;
    padding: 4px;
  }
</style>

<script type="text/javascript">
  function enablePageEditing(button) {
    $(button).attr('disabled', true);
    $('.editable').each(function() {
      $(this).attr('data-from', $(this).attr('class').replace(' editable', '.html'))
          .attr('contenteditable', true);

      $(this).on('keyup', function() {
        var editable = $(this);
        if (editable.is('.modified')) return;
        editable.addClass('modified');
        var oldContent = editable.html();

        var pos = $(this).offset();
        var controls = $($('#editable-controls-template').html()).appendTo('body');
        controls.offset({top: pos.top - 50, left: pos.left});

        function restoreEditable() {
          controls.remove();
          editable.removeClass('modified');
        }

        controls.find('.save').click(function() {
          $.post('@{WebAdmin.saveContent()}', {
            path:'${page.path}',
            part: editable.attr('data-from'),
            html: editable.html(),
            authenticityToken: '${session.authenticityToken}'
          }, restoreEditable);
        });

        controls.find('.revert').click(function() {
          editable.html(oldContent);
          restoreEditable();
        });
      });
    });
    alert('&{'web.admin.editPage.enabled'}');
  }
</script>

<div id="editable-controls-template" style="display:none">
  <div class="editable-controls">
    <button class="save">&{'web.admin.save'}</button>
    <button class="revert">&{'web.admin.revert'}</button>
  </div>
</div>
