<button class="btn btn-primary" onclick="enablePageEditing(this)">&{'web.admin.editPage'}</button>

<style type="text/css">
  .editable[data-from]:hover, .editable:focus {
    outline: 1px dashed red;
    position: relative;
  }

  .editable[data-from]:hover:before, .editable:focus:before {
    content: attr(data-from) !important;
    color: white;
    background: red;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    top: -22px;
    right: 0;
    padding: 4px;
    z-index: 1000;
  }

  .cke_button__ajaxsave_icon { display: none; }
  .cke_button__ajaxsave_label { display: block; }
</style>

<script type="text/javascript" src="/public/editor/ckeditor.js"></script>
<script type="text/javascript">
  function enablePageEditing(button) {
    $(button).attr('disabled', true).attr('title', '&{'web.admin.editMode'}');
    $('.editable').each(function() {
      var editable = $(this);
      editable.attr('data-from', $(this).attr('class').replace(' editable', '.html')).attr('contenteditable', true);

      var saveCmd = {
        modes: { wysiwyg:1,source:1 },
        exec: function(editor) {
          $.post('@{WebAdmin.saveContent()}', {
            path:'${page.path}',
            part: editable.attr('data-from'),
            html: editable.html(),
            authenticityToken: '${session.authenticityToken}'
          }, function() {
            editable.trigger('blur');
            alert('&{'web.admin.saved'}');
          });
        }
      };

      CKEDITOR.plugins.add('ajaxsave', {
        init: function( editor ) {
          var command = editor.addCommand('ajaxsave', saveCmd);

          editor.ui.addButton && editor.ui.addButton('ajaxsave', {
            label: '&{'web.admin.save'}',
            command: 'ajaxsave'
          });
        }
      });

      var editor = CKEDITOR.inline(this, {
        language: '${lang}',
        extraPlugins: 'ajaxsave'
      });
    });
  }
</script>

<div id="editable-controls-template" style="display:none">
  <div class="editable-controls">
    <button class="save">&{'web.admin.save'}</button>
    <button class="revert">&{'web.admin.revert'}</button>
  </div>
</div>
