#{extends 'Web/layout.html'/}

#{if flash.success}<pre class="alert alert-success">${flash.success}</pre>#{/if}
#{if flash.error}<pre class="alert alert-error">${flash.error}</pre>#{/if}

<a href="@{WebAdmin.doc()}" class="pull-right">&{'web.admin.doc'}</a><br>
<a href="@{WebAdmin.checkLinks()}" class="pull-right">&{'web.admin.checkLinks'}</a>

#{if status}
  <h3>&{'web.admin.changes'}</h3>
  #{form @WebAdmin.publish(), class:'form-horizontal'}
    <table style="margin-bottom: 10px">
      #{list status.readLines(), as:'m'}
        %{
        fileStatus = m.substring(0,2).trim()
        filePath = m.substring(3).trim().replaceFirst('^"(.*)"$', '$1')
        if (fileStatus == 'R' || fileStatus == 'C') filePath = filePath.substring(filePath.indexOf(' -> ') + 4)
        }%
        <tr>
          <td>
            <label><input type="checkbox" name="paths" value="${filePath}"> &nbsp;<b>&{'git.status.' + fileStatus}</b> &nbsp;</label>
          </td>
          <td><label>${filePath}</label></td>
          <td><a href="@{WebAdmin.revert(fileStatus, filePath)}&authenticityToken=${session.authenticityToken}" onclick="return confirm('&{'web.admin.reallyRevert'}')" style="color:darkred; font-size: 120%; position: relative; top: -2px" title="&{'web.admin.revert'}">×</a></td>
        </tr>
      #{/list}
    </table>

    <input type="checkbox" title="&{'web.admin.toggleAll'}" onclick="$('input[name=paths]').prop('checked', $(this).is(':checked'))">&nbsp;
    <input type="text" name="message" placeholder="&{'web.admin.commitMessage'}" class="span6">
    <button class="btn btn-primary">&{'web.admin.publish'}</button>
    <a class="btn" href="@{WebAdmin.diff("/", "HEAD")}">&{'web.admin.diff'}</a>
  #{/form}
#{/if}

#{elseif unpushed}
  <h3>&{'web.admin.unpushed'}</h3>
  #{form @WebAdmin.push(), class:'form-horizontal'}
    <button class="btn btn-primary">&{'web.admin.publish'}</button>
  #{/form}
#{/elseif}

#{else}
  <h3>&{'web.admin.noModifications'}</h3>
  <br>
#{/else}

<h3>&{'web.admin.log'}</h3>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>&{'web.admin.revision'}</th>
      <th>&{'web.admin.time'}</th>
      <th>&{'web.admin.author'}</th>
      <th>&{'web.admin.message'}</th>
      <th></th>
    </tr>
  </thead>
  #{list log, as:'line'}
    %{data = line.split('\t')}%
    <tr #{if unpushed.contains(data[0])}style="color:red"#{/if}>
      <td>${data[0]}</td>
      <td nowrap>${new java.util.Date(Long.parseLong(data[1]) * 1000).format("dd MMM HH:mm")}</td>
      <td>${data[2]}</td>
      <td>${data[4]}</td>
      <td><a class="btn btn-small" href="@{WebAdmin.diff("/", data[0]?.trim())}">&{'web.admin.diff'}</a></td>
    </tr>
  #{/list}
</table>
